    <div class="container">
        <div class="left">
            <p><span class="bold">Information date:</span> {{company._date}}</p>
            <p><span class="bold">Symbol:</span> {{company._symbol}}</p>
            <p><span class="bold">Name:</span> {{company._name}}</p>
            <p><span class="bold">Address:</span> {{company._address}}</p>
            <p><span class="bold">Country:</span> {{company._country}}</p>
        </div>
        <div class="right">
            <p><span class="bold">Number of employees:</span> {{company._numberOfEmployees}}</p>
            <p><span class="bold">Open price:</span> {{company._openPrice}}</p>
            <p><span class="bold">Close price:</span> {{company._previousClosePrice}}</p>
            <p><span class="bold">Market cap:</span> {{company._marketCap}}</p>
        </div>
    </div>
